################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebApiDemo.Common/obj/Debug/netcoreapp3.1/WebApiDemo.Common.csprojAssemblyReference.cache
/WebApiDemo.Model/obj/Debug/netcoreapp3.1/WebApiDemo.Model.csprojAssemblyReference.cache
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.assets.cache
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.csproj.CoreCompileInputs.cache
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.csproj.FileListAbsolute.txt
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.csprojAssemblyReference.cache
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.dll
/WebApiDemo/obj/Debug/netcoreapp3.1/WebApiDemo.pdb
/WebApiDemo/obj/project.assets.json
/WebApiDemo/obj/project.nuget.cache
/WebApiDemo/obj/WebApiDemo.csproj.nuget.dgspec.json
/WebApiDemo/obj/WebApiDemo.csproj.nuget.dgspec.json
/WebApiDemo/bin/Debug/netcoreapp3.1/EFBase.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/EFBase.pdb
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.pdb
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.pdb
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.pdb
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.Service.dll
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.Service.pdb
/WebApiDemo/bin/Debug/netcoreapp3.1/WebApiDemo.pdb
/WebApiDemo.Common/obj/project.nuget.cache
/WebApiDemo.Common/obj/WebApiDemo.Common.csproj.nuget.dgspec.json
/WebApiDemo.Common/obj/WebApiDemo.Common.csproj.nuget.g.props
/WebApiDemo.Common/obj/project.assets.json
/WebApiDemo.Common/obj/Debug/netcoreapp3.1/WebApiDemo.Common.csproj.FileListAbsolute.txt
/WebApiDemo.Common/obj/Debug/netcoreapp3.1/WebApiDemo.Common.csprojAssemblyReference.cache
/WebApiDemo.Common/obj/Debug/netcoreapp3.1/WebApiDemo.Common.assets.cache
/WebApiDemo.Common/obj/Debug/netcoreapp3.1/WebApiDemo.Common.assets.cache
/WebApiDemo.IRepository/obj/project.nuget.cache
/WebApiDemo.IRepository/obj/WebApiDemo.IRepository.csproj.nuget.dgspec.json
/WebApiDemo.IRepository/obj/project.assets.json
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.dll
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.pdb
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.assets.cache
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.csproj.CoreCompileInputs.cache
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.csproj.FileListAbsolute.txt
/WebApiDemo.IRepository/obj/Debug/netcoreapp3.1/WebApiDemo.IRepository.csprojAssemblyReference.cache
/WebApiDemo.IRepository/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.pdb
/WebApiDemo.IRepository/bin/Debug/netcoreapp3.1/EFBase.dll
/WebApiDemo.IRepository/bin/Debug/netcoreapp3.1/EFBase.pdb
/WebApiDemo.IRepository/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.dll
/WebApiDemo.IServices/obj/project.assets.json
/WebApiDemo.IServices/obj/project.nuget.cache
/WebApiDemo.IServices/obj/WebApiDemo.IServices.csproj.nuget.dgspec.json
/WebApiDemo.IServices/obj/WebApiDemo.IServices.csproj.nuget.g.props
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.csprojAssemblyReference.cache
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.dll
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.pdb
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.assets.cache
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.csproj.CoreCompileInputs.cache
/WebApiDemo.IServices/obj/Debug/netcoreapp3.1/WebApiDemo.IServices.csproj.FileListAbsolute.txt
/WebApiDemo.IServices/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.dll
/WebApiDemo.IServices/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.pdb
/WebApiDemo.Model/obj/WebApiDemo.Model.csproj.nuget.dgspec.json
/WebApiDemo.Model/obj/WebApiDemo.Model.csproj.nuget.g.props
/WebApiDemo.Model/obj/project.assets.json
/WebApiDemo.Model/obj/project.nuget.cache
/WebApiDemo.Model/obj/Debug/netcoreapp3.1/WebApiDemo.Model.csproj.FileListAbsolute.txt
/WebApiDemo.Model/obj/Debug/netcoreapp3.1/WebApiDemo.Model.assets.cache
/WebApiDemo.Repository/obj/project.nuget.cache
/WebApiDemo.Repository/obj/WebApiDemo.Repository.csproj.nuget.dgspec.json
/WebApiDemo.Repository/obj/project.assets.json
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.csprojAssemblyReference.cache
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.dll
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.pdb
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.assets.cache
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.csproj.CoreCompileInputs.cache
/WebApiDemo.Repository/obj/Debug/netcoreapp3.1/WebApiDemo.Repository.csproj.FileListAbsolute.txt
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.pdb
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.dll
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.pdb
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/EFBase.dll
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/EFBase.pdb
/WebApiDemo.Repository/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.dll
/WebApiDemo.Service/obj/project.nuget.cache
/WebApiDemo.Service/obj/WebApiDemo.Service.csproj.nuget.dgspec.json
/WebApiDemo.Service/obj/project.assets.json
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.csproj.FileListAbsolute.txt
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.csprojAssemblyReference.cache
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.dll
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.pdb
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.assets.cache
/WebApiDemo.Service/obj/Debug/netcoreapp3.1/WebApiDemo.Service.csproj.CoreCompileInputs.cache
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.dll
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.IServices.pdb
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.dll
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.Repository.pdb
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.Service.dll
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.Service.pdb
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/EFBase.dll
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/EFBase.pdb
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.dll
/WebApiDemo.Service/bin/Debug/netcoreapp3.1/WebApiDemo.IRepository.pdb
/EFBase/obj/project.assets.json
/EFBase/obj/project.nuget.cache
/EFBase/obj/EFBase.csproj.nuget.dgspec.json
/EFBase/obj/Debug/netcoreapp3.1/EFBase.csprojAssemblyReference.cache
/EFBase/obj/Debug/netcoreapp3.1/EFBase.dll
/EFBase/obj/Debug/netcoreapp3.1/EFBase.pdb
/EFBase/obj/Debug/netcoreapp3.1/EFBase.assets.cache
/EFBase/obj/Debug/netcoreapp3.1/EFBase.csproj.CoreCompileInputs.cache
/EFBase/obj/Debug/netcoreapp3.1/EFBase.csproj.FileListAbsolute.txt
/EFBase/bin/Debug/netcoreapp3.1/EFBase.pdb
/EFBase/bin/Debug/netcoreapp3.1/EFBase.dll
